body {
  font-family: "Avenir Next";
}

/* headerの背景色を#f7f2b4、高さを90pxにしてください */
.header{
  background: #f7f2b4;
  height: 90px;
}

/* mainの背景色を#bdf7f1、高さを600pxにしてください */
.main{
  background: #bdf7f1;
  height: 600px;
}

/* footerの背景色を#ceccf3、高さを270pxにしてください */
.footer{
  background: #ceccf3;
  height: 270px;
}
